.left-bar {
    min-height: 100vh;
    background: linear-gradient(to bottom,#2895F9 0%,#4E4EE6 100%);
    width: 78px;
}

.logo-left-bar {
    width: 24px;
    height: 24px;
    background: white;
    margin: 14px;
}
